@import './variables';
@import './mixins';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-light);
  font-family: var(--text-font);
  font-size: var(--text-size);
  color: var(--color-dark);
  line-height: 1.625;
  overflow-x: hidden;
}

.container {
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  // background-color: rgb(100, 100, 26);

  @include md {
    max-width: 720px;
    // background-color: red;
  }

  @include l {
    max-width: 960px;
    // background-color: green;
  }

  @include xl {
    max-width: 1000px;
    // background-color: grey;
  }

  @include xxl {
    max-width: 1200px;
    // background-color: pink;
  }
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;

  &:hover {
    color: unset;
    text-decoration: none;
  }
}
